<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "student_home" %>
<% end %>

<div class="conatiner-fluid top">
	<div class="bottom-background"></div>
	<div class="title text-center"> Welcome, Student! </div>
</div>

	<div class="container-fluid bottom">

		<div class="bottom-background"> </div>

		<div class="center-block teacher-nav">
			<a href="/student/not_implemented">
				<div class = "box qanda">
					<img src="<%= asset_path( 'noun_54982_cc.png' ) %>" alt="Q/A" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/student/home">
				<div class = "box home">
					<img src="<%= asset_path( 'Home-50.png' ) %>" alt="HOME" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/student/not_implemented">
				<div class = "box settings">
					<img src="<%= asset_path( 'Settings-50.png' ) %>" alt="SETTINGS" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/student/not_implemented">
				<div class = "box alerts">
					<img src="<%= asset_path( 'noun_101400_cc.png' ) %>" alt="ALERTS" style="width:60px;height:60px;">
				</div>
			</a>
		</div>
	</div>

<div class="container-fluid" >
	<div class="row">


		<div class="col-xs-12 col-md-push-1 col-md-5 main center1" style="overflow-y: auto"> 
				<div class="current-projects col-md-12" style="font-size:35px"> <em>Current Projects</em>

					<% @projects.each do |project| %>
						<%= link_to controller: "student", id: project.id, action: "landing" do %>
							<div button type="button" class="btn btn-default btn-lg btn-block project-button" style="white-space: normal"><%= project.title %> </div>
							<div style="height:10px"></div>
						<% end %>
					<% end %>

					<div class="space"></div>
				</div>
		</div>
		<div class="col-xs-12 col-md-push-1 col-md-5 main center1"> 
			<div class="past-projects col-md-12" style="font-size:35px"> <em> Past Projects</em>
				<div button type="button" class="btn btn-default btn-lg btn-block project-button" style="white-space: normal"> Building A Castle </div>
				<div style="height:10px"></div>
			</div>						

		</div>
	</div>
</div>
