<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "project_submitted" %>
<% end %>

<div class="conatiner-fluid top">
	<div class="bottom-background"></div>
	<div class="title text-center"> Your Project Has Been Submitted! </div>
</div>

	<div class="container-fluid bottom">

		<div class="bottom-background"> </div>

		<div class="center-block my-nav">


			<%= link_to controller: "student", action: "home" do %>
				<div class = "box home">
					<img src="<%= asset_path( 'Home-50.png' ) %>" alt="HOME" style="width:60px;height:60px;">
				</div>
			<% end %>
			<%= link_to controller: "student", id: @project.id, action: "student_settings_project" do %>
				<div class = "box settings">
					<img src="<%= asset_path( 'Settings-50.png' ) %>" alt="SETTINGS" style="width:60px;height:60px;">
				</div>
			<% end %>
			
		</div>
	</div>

