<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "review" %>
<% end %>

<div class="title text-center"> Summary </div>

	<div class="container-fluid bottom">

		<div class="center-block my-nav">
			<a href="/student/navigation">
				<div class = "box navi">
					<img src="<%= asset_path( 'noun_45581_cc.png' ) %>" alt="NAV" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/student/not_implemented">
				<div class = "box qanda">
					<img src="<%= asset_path( 'noun_54982_cc.png' ) %>" alt="Q/A" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/student/home">
				<div class = "box home">
					<img src="<%= asset_path( 'Home-50.png' ) %>" alt="HOME" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/student/not_implemented">
				<div class = "box settings">
					<img src="<%= asset_path( 'Settings-50.png' ) %>" alt="SETTINGS" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/student/not_implemented">
				<div class = "box alerts">
					<img src="<%= asset_path( 'noun_101400_cc.png' ) %>" alt="ALERTS" style="width:60px;height:60px;">
				</div>
			</a>
		</div>
	</div>

<div class="container-fluid" >
	<div class="row">
		<%= link_to controller: "student", project_id: @project.id, action: "project_step", step_number: @project.number_of_steps do %>
			<div class="col-xs-6 col-md-1 main left"><</div>
		<% end %>
		<div class="col-xs-6 col-md-push-10 col-md-1 main right">
		</div>

		<div class="col-xs-12 col-md-pull-1 col-md-5 main center1"> 
			<p><!-- You have created your own salt crystals. Admire their beauty. Observe their structure. Appreciate their sharp angles. --><%= @project.summary %></p>
		</p>
			<img src="http://www.marthastewart.com/sites/files/marthastewart.com/styles/wmax-1500/public/d35/how_to_make_monster_salt_crystals_1/how_to_make_monster_salt_crystals_1_horiz.jpg?itok=iY0zkG2J" style="width:400px; margin-top:30px"/>
		</p>
		</div>
		<div class="col-xs-12 col-md-pull-1 col-md-5 main center1"> Submit 

			<p> <em>coming soon!</em> </p> </div>
	</div>
</div>