<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "supplies" %>
<% end %>

<div class="title text-center"> Supplies </div>

	<div class="container-fluid bottom">

		<div class="center-block my-nav">
			<a href="/student/navigation">
				<div class = "box navi">
					<img src="<%= asset_path( 'noun_45581_cc.png' ) %>" alt="NAV" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/student/not_implemented">
				<div class = "box qanda">
					<img src="<%= asset_path( 'noun_54982_cc.png' ) %>" alt="Q/A" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/student/home">
				<div class = "box home">
					<img src="<%= asset_path( 'Home-50.png' ) %>" alt="HOME" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/student/not_implemented">
				<div class = "box settings">
					<img src="<%= asset_path( 'Settings-50.png' ) %>" alt="SETTINGS" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/student/not_implemented">
				<div class = "box alerts">
					<img src="<%= asset_path( 'noun_101400_cc.png' ) %>" alt="ALERTS" style="width:60px;height:60px;">
				</div>
			</a>
		</div>
	</div>

<div class="container-fluid" >
	<div class="row">
		<a href="/student/background">
			<div class="col-xs-6 col-md-1 main left"><</div>
		</a>
		<a href="/student/project_step">
			<div class="col-xs-6 col-md-push-10 col-md-1 main right">></div>
		</a>

		<div class="col-xs-12 col-md-pull-1 col-md-10 main center1"> 
			<p>Water</p>
			<p>Salt</p>
		</div>
	</div>
</div>