<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "settings" %>
<% end %>

<div class="conatiner-fluid top">
	<div class="bottom-background"></div>
	<div class="title text-center"> Settings </div>
</div>

<div class="container-fluid bottom">

	<div class="bottom-background"> </div>

		<div class="center-block teacher-nav">

			<a href="/teacher/teacher_not_implemented">
				<div class = "box qanda">
					<img src="<%= asset_path( 'noun_54982_cc.png' ) %>" alt="Q/A" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/teacher/landing">
				<div class = "box home">
					<img src="<%= asset_path( 'Home-50.png' ) %>" alt="HOME" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/teacher/settings">
				<div class = "box settings">
					<img src="<%= asset_path( 'Settings-50.png' ) %>" alt="SETTINGS" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/teacher/teacher_not_implemented">
				<div class = "box alerts">
					<img src="<%= asset_path( 'noun_101400_cc.png' ) %>" alt="ALERTS" style="width:60px;height:60px;">
				</div>
			</a>
		</div>
	</div>
<div class="top-margin"></div>
<div class="container-fluid main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<a href="/">
						<button type="button" class="btn btn-default btn-lg btn-block" style="height:80px">Log Out</button>
				</a>
			</div>
		</div>
</div>

