<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "brand_new_textedit" %>
<% end %>

<div class="title text-center"> New Project </div>


<div class="container-fluid ">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<%= form_tag(controller: "teacher", action: "create_project", method: "post") do %>
				<div class="form-group">
					<%= label_tag(:title, "Enter title:") %>
					<%= text_field :title, nil, class: "form-control", id: "ProjectTitle" %>
				</div>

				<div class="form-group">
					<%= label_tag(:description, "Enter project description:") %>
				  	<%= text_area :description, nil, class:"form-control", id:"ProjectDescription" %>
				</div>

				<div class="form-group">
					<%= label_tag(:description, "Upload a picture for the project description:") %>
<!-- 	<%= text_area :description, nil, class:"form-control", id:"ProjectDescription" %>  -->				</div>

<!-- 				<input type="file" id="exampleInputFile">
    			<p class="help-block">Upload a picture to show on the project description.</p> -->
				<%= submit_tag("Create Project") %>
			<% end %>
		</div>
	</div>
</div>


</div>