<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "brand_new_textedit" %>
<% end %>

<div class="conatiner-fluid top">
	<div class="bottom-background"></div>
	<div class="title text-center"> New Project </div>
</div>

<div class="container-fluid bottom">

	<div class="bottom-background"> </div>

		<div class="center-block teacher-nav">

			<a href="/teacher/teacher_not_implemented">
				<div class = "box qanda">
					<img src="<%= asset_path( 'noun_54982_cc.png' ) %>" alt="Q/A" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/teacher/landing">
				<div class = "box home">
					<img src="<%= asset_path( 'Home-50.png' ) %>" alt="HOME" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/teacher/settings">
				<div class = "box settings">
					<img src="<%= asset_path( 'Settings-50.png' ) %>" alt="SETTINGS" style="width:60px;height:60px;">
				</div>
			</a>
			<a href="/teacher/teacher_not_implemented">
				<div class = "box alerts">
					<img src="<%= asset_path( 'noun_101400_cc.png' ) %>" alt="ALERTS" style="width:60px;height:60px;">
				</div>
			</a>
		</div>
</div>

<div class="top-margin"></div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<%= form_tag(controller: "teacher", action: "create_project", method: "post") do %>
				<div class="form-group">
					<%= label_tag(:title, "Enter title :") %>
					<%= text_field :title, nil, class: "form-control", id: "ProjectTitle", placeholder: "Title" %>
				</div>

				<div class="form-group">
					<%= label_tag(:description, "Enter project description :") %>
				  	<%= text_area :description, nil, class:"form-control", id:"ProjectDescription", rows: "4", placeholder: "Description" %>
				</div>

				<div class="form-group">
					<%= label_tag("Upload a picture for the description :") %>
	    			<input type="file" id="description_pic">
  				</div>

  				<div class="form-group">
					<%= label_tag(:background, "Enter project background :") %>
				  	<%= text_area :background, nil, class:"form-control", id:"ProjectBackground", rows: "4", placeholder: "Background" %>
				</div>

				<div class="form-group">
					<%= label_tag("Upload a picture for the background :") %>
	    			<input type="file" id="background_pic">
  				</div>

				<div class = "form-group">
					<%= label_tag(:supply, "Enter supply #1 :") %>
					<%= text_field :supply, nil, class: "form-control", id: "Supply1", placeholder: "Supply" %>
				</div>

				<div class = "form-group">
					<%= label_tag(:supply, "Enter supply #2 :") %>
					<%= text_field :supply, nil, class: "form-control", id: "Supply2", placeholder: "Supply" %>
				</div>

				<div class = "form-group">
					<%= label_tag(:supply, "Enter supply #3 :") %>
					<%= text_field :supply, nil, class: "form-control", id: "Supply3", placeholder: "Supply" %>
				</div>

				<div class="form-group">
					<%= label_tag(:step, "Enter step #1 :") %>
				  	<%= text_area :step, nil, class:"form-control", id:"Step1", rows: "4", placeholder: "Step" %>
				</div>

				<div class="form-group">
					<%= label_tag("Upload a picture for step #1:") %>
	    			<input type="file" id="step1_pic">
  				</div>

				<div class="form-group">
					<%= label_tag(:step, "Enter step #2 :") %>
				  	<%= text_area :step, nil, class:"form-control", id:"Step2", rows: "4", placeholder: "Step" %>
				</div>

				<div class="form-group">
					<%= label_tag("Upload a picture for step #2:") %>
	    			<input type="file" id="step2_pic">
  				</div>

				<div class="form-group">
					<%= label_tag(:step, "Enter step #3 :") %>
				  	<%= text_area :step, nil, class:"form-control", id:"Step3", rows: "4", placeholder: "Step" %>
				</div>

				<div class="form-group">
					<%= label_tag("Upload a picture for step #3:") %>
	    			<input type="file" id="step3_pic">
  				</div>

  				<div class="form-group">
					<%= label_tag(:summary, "Enter summary of project for students to review once finished :") %>
				  	<%= text_area :summary, nil, class:"form-control", id:"Summary", rows: "4", placeholder: "Summary" %>
				</div>

	  			<%= submit_tag("Create Project") %>

	  			<div class = "bottom-space"></div>

			<% end %>
		</div>
	</div>
</div>


</div>